#!/usr/local/bin/bash

set -o errexit
set -o nounset
set -o pipefail

if [ ! -d "{{.EnvsPath}}" ]; then
	exit 0
fi

SBATCH_JOB_NAME={{.SbatchJobName}}

export $(cat {{.EnvsPath}}/{{.SlurmEnvFilename}} | xargs)

{{- if .ChangeDir }}cd {{.ChangeDir}}{{end}}

{{.BuildEntrypointCommand}}
